        {{ template "header.html" .}}
        {{/* {{ .title }} */}}
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">{{.post.Title}}</h2>
                            <h3 class="post-subtitle">{{.post.Short}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{.post.UserFirstName}} {{.post.UserFirstName}}</a>
                            on {{.post.CreatedAt.Format "2006 Jan 02"}}
                        </p>
                    </div>
                    <hr class="my-4" />

                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="/allposts">All posts →</a></div>
                </div>
            </div>
        </div>
    
{{ template "footer.html" .}}